body{
    background-color: #fafdcb;
}
ul{
    list-style-type: none;
    text-align: center;
}
nav{
    padding: 2px 7px 2px 7px;
    text-decoration: none;
    text-align: center; }
li{
    margin-right: 10px;
    padding: 4px 4px;
    font-size: 1.5em;
    text-align: center;
    position: relative;
    display: inline;
    border: double;
    background-color:#fff394;
}
h1{
    color: #ed408b;
    text-align: center;
    font-size: 50px;
    font-family:cursive;
}
h2{
    color: #faa300;
    text-align: center
}
#luna{
    display: inline-block;
    width:17.5%;
    float: left;
    padding-top: 30px;
}
iframe{
    display: block;
    margin: auto;
}
footer{
    font-size: 20px;
    color:darkcyan;
}